.projectsBlock {
    min-height: 100vh;
    background-color: #F8F9FA;
    display: flex;
    align-items: center;
}

.projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title {
    text-align: center;
    background-color: darkgrey;
    margin-bottom: 50px;

}
.title h2 {
    font-size: 2.50rem;
    margin-top: 0;
    line-height: 1.2;
}

.title span {
    background-color: #f5df4e;
    line-height: 1.8;
    --bs-text-opacity: 1;
    color: rgba(33,37,41,var(--bs-text-opacity))!important;
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 771px) {
    .projects {
        justify-content: space-around;
    }
    .projectsContainer {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}