@import '../../../common/styles/Variablies';

.skillsInfo {
  font-weight: 600;
  line-height: 1.3;
  font-size: 90px;
  text-transform: uppercase;
  margin-left: -0.25rem;
  @media (max-width: 710px) {
    font-size: 60px
  }
  @media (max-width: 559px) {
    font-size: 40px
  }
}
