@import "../../common/styles/Variablies";

.skill {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;

  svg {
    height: 60px;
    width: 60px;
    fill: $bgSecondColor;
    margin: 0 0 12px;
  }

  .title {
    margin: 0 0 16px;
  }

  .description {
    color: $secondTexColor;
    font-weight: 400;
  }

  @media (max-width: 646px) {
    width: 100%;
  }
}

//  @media (max-width: 959px) {
//    margin-bottom: 10px;
//  }






