.title {
    text-align: center;
    margin-bottom: 50px;

}
.title h2 {
    font-size: 2.50rem;
    margin-top: 0;
    line-height: 1.2;
}

.title span {
    background-color: #f5df4e;
    line-height: 1.8;
    --bs-text-opacity: 1;
    --bs-bg-opacity: 1;
    color: rgba(33,37,41,var(--bs-text-opacity))!important;
    padding: 0.2rem 0.7rem  !important;
}