@import '../../common/styles/Variablies';

.header {
  height: 60px;
  width: 100%;
  display: block;
  background-color: $bodyBgColor;
  position: fixed;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
  z-index: 3;
  padding-top: 15px;

  .headerContainer {
    @include container();
    justify-content: space-between;
    align-items: center;

    .logo {
      svg {
        height: 50px;
        width: 50px;
        fill: $texColor;
        transition-duration: 0.3s;
        @media (max-width: 650px) {
          transition: none;
        }

        &:hover {
          fill: $bgSecondColor;
        }
      }

      @media (max-width: 555px) {
        visibility: hidden;
        position: absolute;
      }
    }


  }
  @media (max-width: 555px) {
    height: 45px;
  }
}
